<p id="notice"><%= notice %></p>

<p>
  <strong>Nim:</strong>
  <%= @murid.nim %>
</p>

<p>
  <strong>Nama:</strong>
  <%= @murid.nama %>
</p>

<p>
  <strong>Kelas:</strong>
  <%= @murid.kelas %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @murid.alamat %>
</p>

<p>
  <strong>Major:</strong>
  <%= @murid.major_id %>
</p>

<p>
  <strong>Lecture:</strong>
  <%= @murid.lecture_id %>
</p>

<%= link_to 'Edit', edit_murid_path(@murid) %> |
<%= link_to 'Back', murids_path %>
